:root {
    --pink: #EBAEA1;
    --matte-black: #28282B;
    --true-black: #000;
    --grey: #818589;
    --white: #FAF9F6;
}

html,
body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    /* background: rgb(235,174,161);
    background: linear-gradient(234deg, rgba(235,174,161,1) 0%, rgba(235,174,161,1) 41%, rgba(248,248,255,1) 41%); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
    .navbar {
     background-color: var(--pink);
    color: var(--true-black);
}

.navbar h1 {
    font-size: 3em;
    font-weight: 900;
    font-style: italic;
    margin: 10px 0;
    line-height: 1.2;
    position: relative !important;
    right: 30%;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    position: relative;
    left: 30%;
}

.navbar a {
    padding: 9px;
    margin: 0 30px;
    position: relative;
    text-transform: uppercase;
}

.navbar a::before {
content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--true-black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.outline {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
} 

/* MAIN */
/* .main { */
    /* background-color: var(--pink); */
    /* height: 100vh;
}

.main p {
    margin-bottom: 30px;
    color: var(--grey);
}

.main h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-item-1,
.grid-item-2 {
    position: relative;
    top: 50px;
} */

