:root {
    --pink: #EBAEA1;
    --matte-black: #28282B;
    --true-black: #000;
    --grey: #818589;
    --white: #FAF9F6;
    --blue: #004C8D;
    --tan: #DFD3C1;
    --dark-blue: #282936;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
    .navbar {
     background-color: #F6DDD7;
    color: var(--true-black);
}

.navbar h1 {
    font-size: 3em;
    font-weight: 900;
    font-style: italic;
    margin: 10px 0;
    line-height: 1.2;
    position: relative !important;
    right: 30%;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    position: relative;
    left: 30%;
}

.navbar a {
    padding: 9px;
    margin: 0 30px;
    position: relative;
    text-transform: uppercase;
}

.navbar a::before {
content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--true-black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.outline {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row::after,
.row::before {
    box-sizing: border-box;
}

.column {
    position: relative;
    width: 50%;
}

/* .bg-pink {
    background-color: var(--pink);
}

.bg-white {
    background-color: var(--white);
} */

.main {
    overflow: hidden;
    height: 500%;
}

.height {
    height: 100vh;
}

.shoes-img {
    position: absolute;
    left: 25%;
    top: 43%;
    width: 85%;
    transform: translate(-50%, -50%);
}

.img-wrapper img {
    width: 90%;
    height: auto;
    transform: rotate(-35deg);
}

.shoe-info {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: 0 10%;
    color: var(--matte-black);
    transform: translate(-50%, -50%);
}

.shoe-name h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.5em;
    margin-bottom: 6%;
    color: var(--dark-blue) !important;
}

.shoe-description {
    text-align: center;
    margin: 60px 0;
    margin-left: 15%;
    width: 70%;
    color: var(--grey);
}

.price {
    font-weight: 900;
    font-size: 1.4em;
    color: var(--grey) !important;
}

.info-wrapper {
    position: relative;
    text-align: center;
    margin: auto;
}

.shoe-color h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.color-wrapper {
    display: flex;
    flex-flow: row;
    margin-left: 39.5%;
    margin-top: 20px;
    padding: 5px;
}

.color-wrapper > div.active {
    border: 2px solid var(--true-black);
}

.color-wrapper > div:hover {
    border: 2px solid var(--dark-blue);
    cursor: pointer;
}

.color-wrapper > div {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 5px;
    border: 2px solid var(--matte-black);
    border-radius: 50%;
    background-color: var(--white);
}

.color-wrapper > div > div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.color-wrapper .bg-pink {
    background-color: var(--pink) !important;
}

.color-wrapper .bg-blue {
    background-color: var(--blue);
}

.color-wrapper .bg-tan {
    background-color: var(--tan);
}

/* BUTTON */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.add-to-cart {
    width: 12rem;
    height: auto;
   }
   
   button.add-to-cart .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.add-to-cart .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.add-to-cart .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.add-to-cart .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.add-to-cart .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
   /* END BUTTON */

   .img-column {
    border-bottom-left-radius: 100%;
    background-image: linear-gradient(to top right, #EBAEA1, white);
   }